@charset "UTF-8";

:root{
    /* Cores */
    --cor-fundo: #ececec;
    --cor-header: #004d40;
    --cor-footer: #009688;
    --cor-texto: #222;
    --cor-borda: #cecece;
    --cor-sombra: #ccc;
    --cor-branca: #fff;

    /* Fontes */
    --fonte-padrao: Arial, Tahoma, Verdana;

    /* Tamanhos */
    --font-base: 18px;
    --line-base: 28px;
    --radius: 5px;

    /* Espaçamento */
    --espaco-padrao: 10px;
}
/* Configuração Global (Reset da Página) */
*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
    font-size: var(--font-base);
    line-height: var(--line-base);
}

html, body{
    height: 100%;
    background: var(--cor-fundo);
}